{% extends 'slide.html' %} {% block content %}
<h1 class="text-4xl">Counter</h1>

<form>
    <button
        hx-post="/counter/decrement"
        hx-target="#count"
        hx-swap="outerHTML"
        class="border p-2"
    >
        -
    </button>
    {% include "counter.html" %}
    <button
        hx-post="/counter/increment"
        hx-target="#count"
        hx-swap="outerHTML"
        class="border p-2"
    >
        +
    </button>
    <button
        hx-post="/counter/reset"
        hx-target="#count"
        hx-swap="outerHTML"
        class="border p-2"
    >
        0
    </button>
</form>
{% endblock %}
