<table class="border-separate border-spacing-2 border border-slate-500">
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bob</td>
            <td>Smith</td>
            <td>32</td>
        </tr>
        <tr>
            <td>Joe</td>
            <td>Johnson</td>
            <td>28</td>
        </tr>
        <tr>
            <td>Sally</td>
            <td>Carter</td>
            <td>35</td>
        </tr>
    </tbody>
</table>
